* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="前台头部_files/u127_original.png");
}

* html .u2_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="前台头部_files/u129_hover.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="前台头部_files/u129_original.png");
}

* html .u4_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="前台头部_files/u131_disabled.png");
}

* html .u4_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="前台头部_files/u131_original.png");
}

* html .u7_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="前台头部_files/u134_original.png");
}

* html .u10_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="前台头部_files/u137_line.png");
}

* html .u13_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="发布成功_files/u13_original.png");
}

* html .u18_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="发布成功_files/u18_original.png");
}

* html .u20_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="发布成功_files/u20_original.png");
}

