body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../详情页（发布人见）_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:710px;
    top:200px;
    width:290px;
    height:280px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:286px;
}

.u1 {
    position:absolute;
    left:2px;
    top:132px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:710px;
    top:200px;
    width:290px;
    height:280px
}

.u2_original {
    background-image: url('../详情页（发布人见）_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:727px;
    top:404px;
    width:258px;
    height:59px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:264px;
    height:65px;
}

.u3 {
    position:absolute;
    left:2px;
    top:22px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:727px;
    top:404px;
    width:258px;
    height:59px
}

.u4_original {
    background-image: url('../详情页（发布人见）_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:9px;
    top:101px;
    width:990px;
    height:43px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:996px;
    height:49px;
}

.u5 {
    position:absolute;
    left:2px;
    top:14px;
    width:986px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:9px;
    top:101px;
    width:990px;
    height:43px
}

.u6_original {
    background-image: url('../前台头部_files/u127_original.png');
}

.u6_container {
    position:absolute;
    left:-270px;
    top:0px;
    width:1500px;
    height:50px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1506px;
    height:56px;
}

.u7 {
    position:absolute;
    left:2px;
    top:17px;
    width:1496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:-270px;
    top:0px;
    width:1500px;
    height:50px
}

.u8_hover {
    background-image: url('../前台头部_files/u129_hover.png');
}

.u8_original {
    background-image: url('../前台头部_files/u129_original.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:56px;
}

.u9 {
    position:absolute;
    left:2px;
    top:17px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px
}

.u10_disabled {
    background-image: url('../前台头部_files/u131_disabled.png');
}

.u10_original {
    background-image: url('../前台头部_files/u131_original.png');
}

.u10_container {
    position:absolute;
    left:900px;
    top:10px;
    width:100px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u11 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:900px;
    top:10px;
    width:100px;
    height:30px
}

.u12 {
    position:absolute;
    left:690px;
    top:18px;
    width:110px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_original {
    background-image: url('../前台头部_files/u134_original.png');
}

.u13_container {
    position:absolute;
    left:790px;
    top:22px;
    width:10px;
    height:5px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:11px;
}

.u14 {
    position:absolute;
    left:2px;
    top:-6px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:790px;
    top:22px;
    width:10px;
    height:5px
}

.u15 {
    position:absolute;
    left:830px;
    top:18px;
    width:110px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../前台头部_files/u137_line.png');
}

.u16_line {
    position:absolute;
    left:814px;
    top:17px;
    width:3px;
    height:16px;
}

.u16 {
    position:absolute;
    left:814px;
    top:17px;
    width:3px;
    height:16px
}

.u18 {
    position:absolute;
    left:10px;
    top:150px;
    width:950px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:730px;
    top:264px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_original {
    background-image: url('../详情页（发布人见）_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:2120px;
    width:1010px;
    height:120px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1016px;
    height:126px;
}

.u21 {
    position:absolute;
    left:2px;
    top:52px;
    width:1006px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:0px;
    top:2120px;
    width:1010px;
    height:120px
}

.u22 {
    position:absolute;
    left:730px;
    top:210px;
    width:210px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:744px;
    top:286px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:730px;
    top:318px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_original {
    background-image: url('../详情页（发布人见）_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:710px;
    top:550px;
    width:290px;
    height:340px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:346px;
}

.u26 {
    position:absolute;
    left:2px;
    top:162px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:710px;
    top:550px;
    width:290px;
    height:340px
}

.u27 {
    position:absolute;
    left:710px;
    top:524px;
    width:130px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:730px;
    top:560px;
    width:260px;
    height:312px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:710px;
    top:491px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_original {
    background-image: url('../详情页（发布人见）_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:766px;
    top:484px;
    width:20px;
    height:25px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:25px;
}

.u31 {
    position:absolute;
    left:2px;
    top:4px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:766px;
    top:484px;
    width:20px;
    height:25px
}

.u32_original {
    background-image: url('../详情页（发布人见）_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:797px;
    top:486px;
    width:24px;
    height:24px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u33 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:797px;
    top:486px;
    width:24px;
    height:24px
}

.u34_original {
    background-image: url('../详情页（发布人见）_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:825px;
    top:488px;
    width:24px;
    height:21px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:21px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:825px;
    top:488px;
    width:24px;
    height:21px
}

.u36_original {
    background-image: url('../详情页（发布人见）_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:856px;
    top:488px;
    width:23px;
    height:21px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:21px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:856px;
    top:488px;
    width:23px;
    height:21px
}

.u38_original {
    background-image: url('../详情页（发布人见）_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:893px;
    top:487px;
    width:22px;
    height:22px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:22px;
}

.u39 {
    position:absolute;
    left:2px;
    top:3px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:893px;
    top:487px;
    width:22px;
    height:22px
}

.u41_disabled {
    background-image: url('../详情页（发布人见）_files/u41_disabled.png');
}

.u41_original {
    background-image: url('../详情页（发布人见）_files/u41_original.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:25px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:31px;
}

.u42 {
    position:absolute;
    left:2px;
    top:4px;
    width:62px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:25px
}

.u43_hover {
    background-image: url('../详情页（发布人见）_files/u43_hover.png');
}

.u43_disabled {
    background-image: url('../详情页（发布人见）_files/u41_disabled.png');
}

.u43_original {
    background-image: url('../详情页（发布人见）_files/u43_original.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:25px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:31px;
}

.u44 {
    position:absolute;
    left:2px;
    top:4px;
    width:62px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:25px
}

.u45_hover {
    background-image: url('../详情页（发布人见）_files/u43_hover.png');
}

.u45_disabled {
    background-image: url('../详情页（发布人见）_files/u41_disabled.png');
}

.u45_original {
    background-image: url('../详情页（发布人见）_files/u43_original.png');
}

.u45_container {
    position:absolute;
    left:470px;
    top:60px;
    width:66px;
    height:25px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:31px;
}

.u46 {
    position:absolute;
    left:2px;
    top:4px;
    width:62px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:470px;
    top:60px;
    width:66px;
    height:25px
}

.u47_original {
    background-image: url('../详情页（发布人见）_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:1338px;
    width:1000px;
    height:92px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:98px;
}

.u48 {
    position:absolute;
    left:2px;
    top:38px;
    width:996px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:0px;
    top:1338px;
    width:1000px;
    height:92px
}

.u49 {
    position:absolute;
    left:809px;
    top:380px;
    width:68px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:729px;
    top:379px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:852px;
    top:412px;
    width:39px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:737px;
    top:412px;
    width:51px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:795px;
    top:412px;
    width:51px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:898px;
    top:412px;
    width:51px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:858px;
    top:441px;
    width:51px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:927px;
    top:440px;
    width:39px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:737px;
    top:440px;
    width:51px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:795px;
    top:440px;
    width:51px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_original {
    background-image: url('../详情页（发布人见）_files/u59_original.png');
}

.u59_container {
    position:absolute;
    left:1020px;
    top:246px;
    width:30px;
    height:95px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:101px;
}

.u60 {
    position:absolute;
    left:2px;
    top:20px;
    width:26px;
    height:56px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:1020px;
    top:246px;
    width:30px;
    height:95px
}

.u61 {
    position:absolute;
    left:543px;
    top:67px;
    width:200px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_original {
    background-image: url('../详情页（发布人见）_files/u63_original.png');
}

.u63_container {
    position:absolute;
    left:2px;
    top:8px;
    width:158px;
    height:45px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:51px;
}

.u64 {
    position:absolute;
    left:2px;
    top:14px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:2px;
    top:8px;
    width:158px;
    height:45px
}

.u65_original {
    background-image: url('../详情页（发布人见）_files/u65_original.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:6px;
    width:158px;
    height:45px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:51px;
}

.u66 {
    position:absolute;
    left:2px;
    top:14px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:0px;
    top:6px;
    width:158px;
    height:45px
}

.u67_original {
    background-image: url('../详情页（发布人见）_files/u67_original.png');
}

.u67_container {
    position:absolute;
    left:28px;
    top:17px;
    width:20px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:28px;
    top:17px;
    width:20px;
    height:20px
}

.u69 {
    position:absolute;
    left:56px;
    top:9px;
    width:86px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_text {
    position:absolute;
    left:144px;
    top:0px;
    width:21px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:144px;
    top:0px;
    width:21px;
    height:36px
}

.u72_original {
    background-image: url('../详情页（发布人见）_files/u63_original.png');
}

.u72_container {
    position:absolute;
    left:2px;
    top:8px;
    width:158px;
    height:45px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:51px;
}

.u73 {
    position:absolute;
    left:2px;
    top:14px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:2px;
    top:8px;
    width:158px;
    height:45px
}

.u74_original {
    background-image: url('../详情页（发布人见）_files/u74_original.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:6px;
    width:158px;
    height:45px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:51px;
}

.u75 {
    position:absolute;
    left:2px;
    top:14px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:0px;
    top:6px;
    width:158px;
    height:45px
}

.u76 {
    position:absolute;
    left:4px;
    top:16px;
    width:153px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_text {
    position:absolute;
    left:144px;
    top:0px;
    width:21px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:144px;
    top:0px;
    width:21px;
    height:36px
}

.u78_original {
    background-image: url('../详情页（发布人见）_files/u78_original.png');
}

.u78_container {
    position:absolute;
    left:10px;
    top:926px;
    width:120px;
    height:120px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:126px;
}

.u79 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:10px;
    top:926px;
    width:120px;
    height:120px
}

.u80 {
    position:absolute;
    left:11px;
    top:888px;
    width:292px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:10px;
    top:1051px;
    width:138px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:70px;
    top:1096px;
    width:80px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:10px;
    top:1100px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_original {
    background-image: url('../详情页（发布人见）_files/u78_original.png');
}

.u84_container {
    position:absolute;
    left:170px;
    top:927px;
    width:120px;
    height:120px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:126px;
}

.u85 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:170px;
    top:927px;
    width:120px;
    height:120px
}

.u86 {
    position:absolute;
    left:170px;
    top:1052px;
    width:138px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:230px;
    top:1097px;
    width:80px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:170px;
    top:1101px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_original {
    background-image: url('../详情页（发布人见）_files/u78_original.png');
}

.u89_container {
    position:absolute;
    left:332px;
    top:928px;
    width:120px;
    height:120px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:126px;
}

.u90 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:332px;
    top:928px;
    width:120px;
    height:120px
}

.u91 {
    position:absolute;
    left:332px;
    top:1053px;
    width:138px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:392px;
    top:1098px;
    width:80px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:332px;
    top:1102px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_text {
    position:absolute;
    left:980px;
    top:160px;
    width:40px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:980px;
    top:160px;
    width:40px;
    height:20px
}

.u95_text {
    position:absolute;
    left:7px;
    top:66px;
    width:233px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:7px;
    top:66px;
    width:233px;
    height:20px
}

.u96_disabled {
    background-image: url('../详情页（发布人见）_files/u96_disabled.png');
}

.u96_original {
    background-image: url('../详情页（发布人见）_files/u96_original.png');
}

.u96_container {
    position:absolute;
    left:900px;
    top:60px;
    width:100px;
    height:30px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u97 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:900px;
    top:60px;
    width:100px;
    height:30px
}

.u98_original {
    background-image: url('../详情页（发布人见）_files/u98_original.png');
}

.u98_container {
    position:absolute;
    left:10px;
    top:200px;
    width:680px;
    height:650px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:686px;
    height:656px;
}

.u99 {
    position:absolute;
    left:2px;
    top:317px;
    width:676px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:10px;
    top:200px;
    width:680px;
    height:650px
}

.u100_original {
    background-image: url('../详情页（发布人见）_files/u100_original.png');
}

.u100_container {
    position:absolute;
    left:20px;
    top:210px;
    width:600px;
    height:600px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:606px;
    height:606px;
}

.u101 {
    position:absolute;
    left:2px;
    top:292px;
    width:596px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:20px;
    top:210px;
    width:600px;
    height:600px
}

.u102 {
    position:absolute;
    left:20px;
    top:823px;
    width:650px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_original {
    background-image: url('../详情页（发布人见）_files/u103_original.png');
}

.u103_container {
    position:absolute;
    left:626px;
    top:210px;
    width:54px;
    height:54px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:60px;
}

.u104 {
    position:absolute;
    left:2px;
    top:19px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:626px;
    top:210px;
    width:54px;
    height:54px
}

.u105_original {
    background-image: url('../详情页（发布人见）_files/u105_original.png');
}

.u105_container {
    position:absolute;
    left:628px;
    top:212px;
    width:50px;
    height:50px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u106 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:628px;
    top:212px;
    width:50px;
    height:50px
}

.u107_original {
    background-image: url('../详情页（发布人见）_files/u105_original.png');
}

.u107_container {
    position:absolute;
    left:629px;
    top:272px;
    width:50px;
    height:50px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u108 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:629px;
    top:272px;
    width:50px;
    height:50px
}

.u109_original {
    background-image: url('../详情页（发布人见）_files/u105_original.png');
}

.u109_container {
    position:absolute;
    left:629px;
    top:331px;
    width:50px;
    height:50px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u110 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:629px;
    top:331px;
    width:50px;
    height:50px
}

.u111_original {
    background-image: url('../详情页（发布人见）_files/u105_original.png');
}

.u111_container {
    position:absolute;
    left:629px;
    top:390px;
    width:50px;
    height:50px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u112 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:629px;
    top:390px;
    width:50px;
    height:50px
}

.u113_original {
    background-image: url('../详情页（发布人见）_files/u105_original.png');
}

.u113_container {
    position:absolute;
    left:629px;
    top:450px;
    width:50px;
    height:50px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u114 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:629px;
    top:450px;
    width:50px;
    height:50px
}

.u115 {
    position:absolute;
    left:730px;
    top:350px;
    width:250px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_original {
    background-image: url('../详情页（发布人见）_files/u117_original.png');
}

.u117_container {
    position:absolute;
    left:4px;
    top:4px;
    width:417px;
    height:302px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:423px;
    height:308px;
}

.u118 {
    position:absolute;
    left:2px;
    top:143px;
    width:413px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:4px;
    top:4px;
    width:417px;
    height:302px
}

.u119_original {
    background-image: url('../详情页（发布人见）_files/u119_original.png');
}

.u119_container {
    position:absolute;
    left:0px;
    top:0px;
    width:417px;
    height:302px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:423px;
    height:308px;
}

.u120 {
    position:absolute;
    left:2px;
    top:143px;
    width:413px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:0px;
    top:0px;
    width:417px;
    height:302px
}

.u121 {
    position:absolute;
    left:189px;
    top:62px;
    width:140px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_hover {
    background-image: url('../详情页（发布人见）_files/u122_hover.png');
}

.u122_disabled {
    background-image: url('../详情页（发布人见）_files/u122_disabled.png');
}

.u122_original {
    background-image: url('../详情页（发布人见）_files/u122_original.png');
}

.u122_container {
    position:absolute;
    left:188px;
    top:127px;
    width:50px;
    height:25px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u123 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:188px;
    top:127px;
    width:50px;
    height:25px
}

.u124_text {
    position:absolute;
    left:396px;
    top:8px;
    width:20px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:396px;
    top:8px;
    width:20px;
    height:20px
}

.u125_original {
    background-image: url('../详情页（发布人见）_files/u105_original.png');
}

.u125_container {
    position:absolute;
    left:121px;
    top:47px;
    width:50px;
    height:50px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u126 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:121px;
    top:47px;
    width:50px;
    height:50px
}

.u127_original {
    background-image: url('../详情页（发布人见）_files/u117_original.png');
}

.u127_container {
    position:absolute;
    left:4px;
    top:4px;
    width:417px;
    height:302px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:423px;
    height:308px;
}

.u128 {
    position:absolute;
    left:2px;
    top:143px;
    width:413px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:4px;
    top:4px;
    width:417px;
    height:302px
}

.u129_original {
    background-image: url('../详情页（发布人见）_files/u119_original.png');
}

.u129_container {
    position:absolute;
    left:0px;
    top:0px;
    width:417px;
    height:302px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:423px;
    height:308px;
}

.u130 {
    position:absolute;
    left:2px;
    top:143px;
    width:413px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:0px;
    top:0px;
    width:417px;
    height:302px
}

.u131 {
    position:absolute;
    left:10px;
    top:10px;
    width:140px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:12px;
    top:38px;
    width:393px;
    height:212px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u133_hover {
    background-image: url('../详情页（发布人见）_files/u122_hover.png');
}

.u133_disabled {
    background-image: url('../详情页（发布人见）_files/u122_disabled.png');
}

.u133_original {
    background-image: url('../详情页（发布人见）_files/u122_original.png');
}

.u133_container {
    position:absolute;
    left:355px;
    top:264px;
    width:50px;
    height:25px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u134 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:355px;
    top:264px;
    width:50px;
    height:25px
}

.u135_text {
    position:absolute;
    left:396px;
    top:10px;
    width:20px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:396px;
    top:10px;
    width:20px;
    height:20px
}

.u136_hover {
    background-image: url('../详情页（发布人见）_files/u136_hover.png');
}

.u136_disabled {
    background-image: url('../详情页（发布人见）_files/u122_disabled.png');
}

.u136_original {
    background-image: url('../详情页（发布人见）_files/u136_original.png');
}

.u136_container {
    position:absolute;
    left:281px;
    top:264px;
    width:50px;
    height:25px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u137 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:281px;
    top:264px;
    width:50px;
    height:25px
}

.u138 {
    position:absolute;
    left:22px;
    top:45px;
    width:305px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:296px;
    top:13px;
    width:114px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:730px;
    top:240px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

