body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../前台头部_files/u127_original.png');
}

.u0_container {
    position:absolute;
    left:-270px;
    top:0px;
    width:1500px;
    height:50px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1506px;
    height:56px;
}

.u1 {
    position:absolute;
    left:2px;
    top:17px;
    width:1496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:-270px;
    top:0px;
    width:1500px;
    height:50px
}

.u2_hover {
    background-image: url('../前台头部_files/u129_hover.png');
}

.u2_original {
    background-image: url('../前台头部_files/u129_original.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:56px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px
}

.u4_disabled {
    background-image: url('../前台头部_files/u131_disabled.png');
}

.u4_original {
    background-image: url('../前台头部_files/u131_original.png');
}

.u4_container {
    position:absolute;
    left:900px;
    top:10px;
    width:100px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:900px;
    top:10px;
    width:100px;
    height:30px
}

.u6 {
    position:absolute;
    left:690px;
    top:18px;
    width:110px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_original {
    background-image: url('../前台头部_files/u134_original.png');
}

.u7_container {
    position:absolute;
    left:790px;
    top:22px;
    width:10px;
    height:5px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:11px;
}

.u8 {
    position:absolute;
    left:2px;
    top:-6px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:790px;
    top:22px;
    width:10px;
    height:5px
}

.u9 {
    position:absolute;
    left:830px;
    top:18px;
    width:110px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../前台头部_files/u137_line.png');
}

.u10_line {
    position:absolute;
    left:814px;
    top:17px;
    width:3px;
    height:16px;
}

.u10 {
    position:absolute;
    left:814px;
    top:17px;
    width:3px;
    height:16px
}

.u12 {
    position:absolute;
    left:10px;
    top:124px;
    width:1000px;
    height:1416px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:390px;
    top:70px;
    width:200px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_hover {
    background-image: url('../小市集公约_files/u14_hover.png');
}

.u14_disabled {
    background-image: url('../小市集公约_files/u14_disabled.png');
}

.u14_original {
    background-image: url('../小市集公约_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:322px;
    top:1531px;
    width:154px;
    height:39px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:45px;
}

.u15 {
    position:absolute;
    left:2px;
    top:6px;
    width:150px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:322px;
    top:1531px;
    width:154px;
    height:39px
}

.u16_text {
    position:absolute;
    left:492px;
    top:1550px;
    width:154px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:492px;
    top:1550px;
    width:154px;
    height:20px
}

.u17_line {
    background-image: url('../小市集公约_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:610px;
    top:1558px;
    width:29px;
    height:3px;
}

.u17 {
    position:absolute;
    left:610px;
    top:1558px;
    width:29px;
    height:3px
}

.u18_original {
    background-image: url('../小市集公约_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:606px;
    top:1556px;
    width:6px;
    height:6px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:606px;
    top:1556px;
    width:6px;
    height:6px
}

.u20 {
    position:absolute;
    left:652px;
    top:1550px;
    width:308px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_original {
    background-image: url('../小市集公约_files/u18_original.png');
}

.u21_container {
    position:absolute;
    left:390px;
    top:1576px;
    width:6px;
    height:6px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u22 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:390px;
    top:1576px;
    width:6px;
    height:6px
}

.u23 {
    position:absolute;
    left:330px;
    top:1600px;
    width:180px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../小市集公约_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:392px;
    top:1580px;
    width:3px;
    height:20px;
}

.u24 {
    position:absolute;
    left:392px;
    top:1580px;
    width:3px;
    height:20px
}

