body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../1_3发布页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:110px;
    width:760px;
    height:730px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:766px;
    height:736px;
}

.u1 {
    position:absolute;
    left:2px;
    top:357px;
    width:756px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../前台头部_files/u790_normal.png');
}

.u2_container {
    position:absolute;
    left:-270px;
    top:0px;
    width:1500px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1506px;
    height:56px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:1496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_mouseOver {
    background-image: url('../前台头部_files/u792_mouseOver.png');
}

.u4_normal {
    background-image: url('../前台头部_files/u792_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:56px;
}

.u5 {
    position:absolute;
    left:2px;
    top:17px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_disabled {
    background-image: url('../前台头部_files/button_u794_disabled.png');
}

.u6_normal {
    background-image: url('../前台头部_files/button_u794_normal.png');
}

.u6_container {
    position:absolute;
    left:900px;
    top:10px;
    width:100px;
    height:30px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u7 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:690px;
    top:18px;
    width:110px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../前台头部_files/u797_normal.png');
}

.u9_container {
    position:absolute;
    left:790px;
    top:22px;
    width:10px;
    height:5px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:11px;
}

.u10 {
    position:absolute;
    left:2px;
    top:-6px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:830px;
    top:18px;
    width:110px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_line {
    background-image: url('../前台头部_files/u800_line.png');
}

.u12_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u12 {
    position:absolute;
    left:810px;
    top:17px;
    width:10px;
    height:16px;
    
}

.u14 {
    position:absolute;
    left:120px;
    top:70px;
    width:250px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:140px;
    top:140px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:210px;
    top:136px;
    width:560px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_text_sketch {
    font-family: '宋体';
}

.u17 {
    position:absolute;
    left:780px;
    top:141px;
    width:100px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:138px;
    top:330px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u19 {
    position:absolute;
    left:138px;
    top:373px;
    width:306px;
    height:26px;
    overflow:hidden;
}

#pd0u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:306px;
    height:26px;
    
}

.u20 {
    position:absolute;
    left:0px;
    top:4px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u21 {
    position:absolute;
    left:70px;
    top:0px;
    width:191px;
    height:26px;
    overflow:hidden;
}

#pd1u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:191px;
    height:26px;
    
}

.u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:190px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22_text_sketch {
    font-family: '宋体';
}

#pd0u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:191px;
    height:26px;
    
}

.u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:190px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23_text_sketch {
    font-family: '宋体';
}

.u24 {
    position:absolute;
    left:138px;
    top:185px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:16px;
    top:0px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:16px;
    top:0px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:16px;
    top:0px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:138px;
    top:447px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:748px;
    top:490px;
    width:100px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:208px;
    top:520px;
    width:450px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:210px;
    top:423px;
    width:640px;
    height:57px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34_text_sketch {
    font-family: '宋体';
}

#u35 {
    position:absolute;
    left:208px;
    top:534px;
    width:741px;
    height:117px;
    overflow:hidden;
}

#pd0u35 {
    position:absolute;
    left:0px;
    top:0px;
    width:741px;
    height:117px;
    
}

.u36_normal {
    background-image: url('../1_3发布页_files/placeholder_u36_normal.png');
}

.u36_container {
    position:absolute;
    left:10px;
    top:10px;
    width:60px;
    height:60px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u37 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:75px;
    top:5px;
    width:10px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_line {
    background-image: url('../1_3发布页_files/u39_line.png');
}

.u39_line {
    position:absolute;
    left:0px;
    top:4px;
    width:690px;
    height:3px;
}

.u39 {
    position:absolute;
    left:10px;
    top:104px;
    width:690px;
    height:10px;
    
}

#u40 {
    position:absolute;
    left:10px;
    top:80px;
    width:61px;
    height:15px;
    overflow:hidden;
}

#pd1u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:15px;
    
}

.u41 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:15px;
    
}

.u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../1_3发布页_files/placeholder_u36_normal.png');
}

.u43_container {
    position:absolute;
    left:100px;
    top:10px;
    width:60px;
    height:60px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u44 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:165px;
    top:5px;
    width:10px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u46 {
    position:absolute;
    left:100px;
    top:80px;
    width:61px;
    height:15px;
    overflow:hidden;
}

#pd1u46 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:15px;
    
}

.u47 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u46 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:15px;
    
}

.u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../1_3发布页_files/placeholder_u36_normal.png');
}

.u49_container {
    position:absolute;
    left:190px;
    top:10px;
    width:60px;
    height:60px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u50 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:255px;
    top:5px;
    width:10px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u52 {
    position:absolute;
    left:190px;
    top:80px;
    width:61px;
    height:15px;
    overflow:hidden;
}

#pd1u52 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:15px;
    
}

.u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u52 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:15px;
    
}

.u54 {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../1_3发布页_files/placeholder_u36_normal.png');
}

.u55_container {
    position:absolute;
    left:280px;
    top:10px;
    width:60px;
    height:60px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u56 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:345px;
    top:5px;
    width:10px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u58 {
    position:absolute;
    left:280px;
    top:80px;
    width:61px;
    height:15px;
    overflow:hidden;
}

#pd1u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:15px;
    
}

.u59 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:15px;
    
}

.u60 {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../1_3发布页_files/placeholder_u36_normal.png');
}

.u61_container {
    position:absolute;
    left:360px;
    top:10px;
    width:60px;
    height:60px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u62 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:425px;
    top:5px;
    width:10px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u64 {
    position:absolute;
    left:360px;
    top:80px;
    width:61px;
    height:15px;
    overflow:hidden;
}

#pd1u64 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:15px;
    
}

.u65 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u64 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:15px;
    
}

.u66 {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u67 {
    position:absolute;
    left:208px;
    top:544px;
    width:101px;
    height:26px;
    overflow:hidden;
}

#pd0u67 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:26px;
    
}

.u68_mouseOver {
    background-image: url('../1_3发布页_files/二手加图片按钮_u68_mouseOver.png');
}

.u68_mouseDown {
    background-image: url('../1_3发布页_files/二手加图片按钮_u68_mouseDown.png');
}

.u68_selected {
    background-image: url('../1_3发布页_files/二手加图片按钮_u68_selected.png');
}

.u68_disabled {
    background-image: url('../1_3发布页_files/二手加图片按钮_u68_disabled.png');
}

.u68_normal {
    background-image: url('../1_3发布页_files/二手加图片按钮_u68_disabled.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_mouseOver {
    background-image: url('../1_3发布页_files/button_u70_mouseOver.png');
}

.u70_disabled {
    background-image: url('../1_3发布页_files/button_u70_disabled.png');
}

.u70_normal {
    background-image: url('../1_3发布页_files/button_u70_normal.png');
}

.u70_container {
    position:absolute;
    left:528px;
    top:785px;
    width:100px;
    height:35px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:41px;
}

.u71 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_mouseOver {
    background-image: url('../1_3发布页_files/button_u72_mouseOver.png');
}

.u72_disabled {
    background-image: url('../1_3发布页_files/button_u70_disabled.png');
}

.u72_normal {
    background-image: url('../1_3发布页_files/button_u72_normal.png');
}

.u72_container {
    position:absolute;
    left:378px;
    top:785px;
    width:100px;
    height:35px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:41px;
}

.u73 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:16px;
    top:0px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:228px;
    top:749px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:138px;
    top:554px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../1_3发布页_files/placeholder_u78_normal.png');
}

.u78_container {
    position:absolute;
    left:416px;
    top:828px;
    width:6px;
    height:6px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u79 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:365px;
    top:923px;
    width:123px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_line {
    background-image: url('../1_3发布页_files/u81_line.png');
}

.u81_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:25px;
}

.u81 {
    position:absolute;
    left:414px;
    top:832px;
    width:10px;
    height:25px;
    
}

#u82 {
    position:absolute;
    left:205px;
    top:534px;
    width:564px;
    height:421px;
    overflow:hidden;
}

#pd0u82 {
    position:absolute;
    left:0px;
    top:0px;
    width:564px;
    height:421px;
    
}

.u83_normal {
    background-image: url('../1_3发布页_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:0px;
    width:563px;
    height:420px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:563px;
    height:420px;
}

.u84 {
    position:absolute;
    left:2px;
    top:202px;
    width:559px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u85 {
    position:absolute;
    left:472px;
    top:352px;
    width:85px;
    height:30px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u86_normal {
    background-image: url('../1_3发布页_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:213px;
    top:989px;
    width:465px;
    height:256px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:471px;
    height:262px;
}

.u87 {
    position:absolute;
    left:2px;
    top:120px;
    width:461px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../1_3发布页_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:208px;
    top:985px;
    width:465px;
    height:256px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:471px;
    height:262px;
}

.u89 {
    position:absolute;
    left:2px;
    top:120px;
    width:461px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../1_3发布页_files/placeholder_u90_normal.png');
}

.u90_container {
    position:absolute;
    left:248px;
    top:1040px;
    width:60px;
    height:60px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u91 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:328px;
    top:1040px;
    width:300px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:328px;
    top:1076px;
    width:310px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_mouseOver {
    background-image: url('../1_3发布页_files/button_u94_mouseOver.png');
}

.u94_disabled {
    background-image: url('../1_3发布页_files/button_u94_disabled.png');
}

.u94_normal {
    background-image: url('../1_3发布页_files/button_u94_normal.png');
}

.u94_container {
    position:absolute;
    left:408px;
    top:1140px;
    width:100px;
    height:25px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u95 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../1_3发布页_files/u86_normal.png');
}

.u96_container {
    position:absolute;
    left:213px;
    top:1294px;
    width:465px;
    height:256px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:471px;
    height:262px;
}

.u97 {
    position:absolute;
    left:2px;
    top:120px;
    width:461px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../1_3发布页_files/u88_normal.png');
}

.u98_container {
    position:absolute;
    left:208px;
    top:1290px;
    width:465px;
    height:256px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:471px;
    height:262px;
}

.u99 {
    position:absolute;
    left:2px;
    top:120px;
    width:461px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../1_3发布页_files/placeholder_u90_normal.png');
}

.u100_container {
    position:absolute;
    left:248px;
    top:1345px;
    width:60px;
    height:60px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u101 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:328px;
    top:1345px;
    width:340px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:328px;
    top:1381px;
    width:310px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_mouseOver {
    background-image: url('../1_3发布页_files/button_u94_mouseOver.png');
}

.u104_disabled {
    background-image: url('../1_3发布页_files/button_u94_disabled.png');
}

.u104_normal {
    background-image: url('../1_3发布页_files/button_u94_normal.png');
}

.u104_container {
    position:absolute;
    left:408px;
    top:1445px;
    width:100px;
    height:25px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u105 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:428px;
    top:330px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:258px;
    top:327px;
    width:140px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u107_text_sketch {
    font-family: '宋体';
}

.u108 {
    position:absolute;
    left:138px;
    top:283px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:210px;
    top:280px;
    width:188px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u109_text_sketch {
    font-family: '宋体';
}

.u110 {
    position:absolute;
    left:138px;
    top:233px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:428px;
    top:233px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:209px;
    top:230px;
    width:189px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u112_text_sketch {
    font-family: '宋体';
}

