body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../1_3_1开货架_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:110px;
    width:760px;
    height:410px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:766px;
    height:416px;
}

.u1 {
    position:absolute;
    left:2px;
    top:197px;
    width:756px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../前台头部_files/u790_normal.png');
}

.u2_container {
    position:absolute;
    left:-270px;
    top:0px;
    width:1500px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1506px;
    height:56px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:1496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_mouseOver {
    background-image: url('../前台头部_files/u792_mouseOver.png');
}

.u4_normal {
    background-image: url('../前台头部_files/u792_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:56px;
}

.u5 {
    position:absolute;
    left:2px;
    top:17px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_disabled {
    background-image: url('../前台头部_files/button_u794_disabled.png');
}

.u6_normal {
    background-image: url('../前台头部_files/button_u794_normal.png');
}

.u6_container {
    position:absolute;
    left:900px;
    top:10px;
    width:100px;
    height:30px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u7 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:690px;
    top:18px;
    width:110px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../前台头部_files/u797_normal.png');
}

.u9_container {
    position:absolute;
    left:790px;
    top:22px;
    width:10px;
    height:5px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:11px;
}

.u10 {
    position:absolute;
    left:2px;
    top:-6px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:830px;
    top:18px;
    width:110px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_line {
    background-image: url('../前台头部_files/u800_line.png');
}

.u12_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u12 {
    position:absolute;
    left:810px;
    top:17px;
    width:10px;
    height:16px;
    
}

.u14 {
    position:absolute;
    left:120px;
    top:70px;
    width:250px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:140px;
    top:140px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:210px;
    top:136px;
    width:560px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_text_sketch {
    font-family: '宋体';
}

.u17 {
    position:absolute;
    left:780px;
    top:141px;
    width:100px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:140px;
    top:233px;
    width:184px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:140px;
    top:394px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:750px;
    top:435px;
    width:100px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:210px;
    top:370px;
    width:640px;
    height:60px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21_text_sketch {
    font-family: '宋体';
}

.u22_mouseOver {
    background-image: url('../1_3_1开货架_files/button_u22_mouseOver.png');
}

.u22_disabled {
    background-image: url('../1_3_1开货架_files/button_u22_disabled.png');
}

.u22_normal {
    background-image: url('../1_3_1开货架_files/button_u22_normal.png');
}

.u22_container {
    position:absolute;
    left:470px;
    top:460px;
    width:100px;
    height:35px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:41px;
}

.u23 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:16px;
    top:0px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:225px;
    top:470px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../1_3_1开货架_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:215px;
    top:1028px;
    width:465px;
    height:256px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:471px;
    height:262px;
}

.u28 {
    position:absolute;
    left:2px;
    top:120px;
    width:461px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../1_3_1开货架_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:210px;
    top:1024px;
    width:465px;
    height:256px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:471px;
    height:262px;
}

.u30 {
    position:absolute;
    left:2px;
    top:120px;
    width:461px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../1_3_1开货架_files/placeholder_u31_normal.png');
}

.u31_container {
    position:absolute;
    left:250px;
    top:1079px;
    width:60px;
    height:60px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u32 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:330px;
    top:1079px;
    width:300px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:330px;
    top:1115px;
    width:310px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_mouseOver {
    background-image: url('../1_3_1开货架_files/button_u35_mouseOver.png');
}

.u35_disabled {
    background-image: url('../1_3_1开货架_files/button_u35_disabled.png');
}

.u35_normal {
    background-image: url('../1_3_1开货架_files/button_u35_normal.png');
}

.u35_container {
    position:absolute;
    left:410px;
    top:1179px;
    width:100px;
    height:25px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../1_3_1开货架_files/u27_normal.png');
}

.u37_container {
    position:absolute;
    left:215px;
    top:1333px;
    width:465px;
    height:256px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:471px;
    height:262px;
}

.u38 {
    position:absolute;
    left:2px;
    top:120px;
    width:461px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../1_3_1开货架_files/u29_normal.png');
}

.u39_container {
    position:absolute;
    left:210px;
    top:1329px;
    width:465px;
    height:256px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:471px;
    height:262px;
}

.u40 {
    position:absolute;
    left:2px;
    top:120px;
    width:461px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../1_3_1开货架_files/placeholder_u31_normal.png');
}

.u41_container {
    position:absolute;
    left:250px;
    top:1384px;
    width:60px;
    height:60px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u42 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:330px;
    top:1384px;
    width:340px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:330px;
    top:1420px;
    width:310px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_mouseOver {
    background-image: url('../1_3_1开货架_files/button_u35_mouseOver.png');
}

.u45_disabled {
    background-image: url('../1_3_1开货架_files/button_u35_disabled.png');
}

.u45_normal {
    background-image: url('../1_3_1开货架_files/button_u35_normal.png');
}

.u45_container {
    position:absolute;
    left:410px;
    top:1484px;
    width:100px;
    height:25px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:260px;
    top:230px;
    width:136px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47_text_sketch {
    font-family: '宋体';
}

.u48 {
    position:absolute;
    left:140px;
    top:183px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:208px;
    top:180px;
    width:188px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49_text_sketch {
    font-family: '宋体';
}

.u50 {
    position:absolute;
    left:140px;
    top:280px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:16px;
    top:0px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:16px;
    top:0px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u55 {
    position:absolute;
    left:140px;
    top:320px;
    width:306px;
    height:26px;
    overflow:hidden;
}

#pd1u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:306px;
    height:26px;
    
}

.u56 {
    position:absolute;
    left:10px;
    top:4px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:70px;
    top:0px;
    width:190px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57_text_sketch {
    font-family: '宋体';
}

#pd0u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:306px;
    height:26px;
    
}

.u58 {
    position:absolute;
    left:0px;
    top:4px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:70px;
    top:0px;
    width:190px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59_text_sketch {
    font-family: '宋体';
}

