body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:50px;
    top:44px;
    width:427px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u1 {
    position:absolute;
    left:50px;
    top:90px;
    width:575px;
    height:210px
}

.u2_normal {
    background-image: url('../1_2产品进度_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../1_2产品进度_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:70px;
    top:0px;
    width:400px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:406px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../1_2产品进度_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:470px;
    top:0px;
    width:100px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../1_2产品进度_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:20px;
    width:70px;
    height:100px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:106px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../1_2产品进度_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:70px;
    top:20px;
    width:400px;
    height:100px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:406px;
    height:106px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:396px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../1_2产品进度_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:470px;
    top:20px;
    width:100px;
    height:100px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:106px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../1_2产品进度_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:120px;
    width:70px;
    height:60px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:66px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../1_2产品进度_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:70px;
    top:120px;
    width:400px;
    height:60px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:406px;
    height:66px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:396px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../1_2产品进度_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:470px;
    top:120px;
    width:100px;
    height:60px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../1_2产品进度_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:180px;
    width:70px;
    height:25px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:31px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../1_2产品进度_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:70px;
    top:180px;
    width:400px;
    height:25px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:406px;
    height:31px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../1_2产品进度_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:470px;
    top:180px;
    width:100px;
    height:25px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

