body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:20px;
    top:24px;
    width:330px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u1 {
    position:absolute;
    left:20px;
    top:60px;
    width:612px;
    height:500px
}

.u2_normal {
    background-image: url('../更新记录_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:115px;
    height:21px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:27px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../更新记录_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:115px;
    top:0px;
    width:207px;
    height:21px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:213px;
    height:27px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../更新记录_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:322px;
    top:0px;
    width:196px;
    height:21px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:202px;
    height:27px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../更新记录_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:518px;
    top:0px;
    width:89px;
    height:21px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:27px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../更新记录_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:21px;
    width:115px;
    height:58px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:64px;
}

.u11 {
    position:absolute;
    left:2px;
    top:20px;
    width:111px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../更新记录_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:115px;
    top:21px;
    width:207px;
    height:58px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:213px;
    height:64px;
}

.u13 {
    position:absolute;
    left:2px;
    top:21px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../更新记录_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:322px;
    top:21px;
    width:196px;
    height:58px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:202px;
    height:64px;
}

.u15 {
    position:absolute;
    left:2px;
    top:21px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../更新记录_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:518px;
    top:21px;
    width:89px;
    height:58px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:64px;
}

.u17 {
    position:absolute;
    left:2px;
    top:21px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../更新记录_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:79px;
    width:115px;
    height:148px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:154px;
}

.u19 {
    position:absolute;
    left:2px;
    top:68px;
    width:111px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../更新记录_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:115px;
    top:79px;
    width:207px;
    height:148px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:213px;
    height:154px;
}

.u21 {
    position:absolute;
    left:2px;
    top:62px;
    width:203px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../更新记录_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:322px;
    top:79px;
    width:196px;
    height:148px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:202px;
    height:154px;
}

.u23 {
    position:absolute;
    left:2px;
    top:68px;
    width:192px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../更新记录_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:518px;
    top:79px;
    width:89px;
    height:148px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:154px;
}

.u25 {
    position:absolute;
    left:2px;
    top:66px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../更新记录_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:227px;
    width:115px;
    height:71px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:77px;
}

.u27 {
    position:absolute;
    left:2px;
    top:28px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../更新记录_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:115px;
    top:227px;
    width:207px;
    height:71px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:213px;
    height:77px;
}

.u29 {
    position:absolute;
    left:2px;
    top:28px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../更新记录_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:322px;
    top:227px;
    width:196px;
    height:71px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:202px;
    height:77px;
}

.u31 {
    position:absolute;
    left:2px;
    top:28px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../更新记录_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:518px;
    top:227px;
    width:89px;
    height:71px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:77px;
}

.u33 {
    position:absolute;
    left:2px;
    top:28px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../更新记录_files/u26_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:298px;
    width:115px;
    height:71px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:77px;
}

.u35 {
    position:absolute;
    left:2px;
    top:28px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../更新记录_files/u28_normal.png');
}

.u36_container {
    position:absolute;
    left:115px;
    top:298px;
    width:207px;
    height:71px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:213px;
    height:77px;
}

.u37 {
    position:absolute;
    left:2px;
    top:28px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../更新记录_files/u30_normal.png');
}

.u38_container {
    position:absolute;
    left:322px;
    top:298px;
    width:196px;
    height:71px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:202px;
    height:77px;
}

.u39 {
    position:absolute;
    left:2px;
    top:28px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../更新记录_files/u32_normal.png');
}

.u40_container {
    position:absolute;
    left:518px;
    top:298px;
    width:89px;
    height:71px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:77px;
}

.u41 {
    position:absolute;
    left:2px;
    top:28px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../更新记录_files/u26_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:369px;
    width:115px;
    height:71px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:77px;
}

.u43 {
    position:absolute;
    left:2px;
    top:28px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../更新记录_files/u28_normal.png');
}

.u44_container {
    position:absolute;
    left:115px;
    top:369px;
    width:207px;
    height:71px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:213px;
    height:77px;
}

.u45 {
    position:absolute;
    left:2px;
    top:28px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../更新记录_files/u30_normal.png');
}

.u46_container {
    position:absolute;
    left:322px;
    top:369px;
    width:196px;
    height:71px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:202px;
    height:77px;
}

.u47 {
    position:absolute;
    left:2px;
    top:28px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../更新记录_files/u32_normal.png');
}

.u48_container {
    position:absolute;
    left:518px;
    top:369px;
    width:89px;
    height:71px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:77px;
}

.u49 {
    position:absolute;
    left:2px;
    top:28px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../更新记录_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:440px;
    width:115px;
    height:55px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:61px;
}

.u51 {
    position:absolute;
    left:2px;
    top:20px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../更新记录_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:115px;
    top:440px;
    width:207px;
    height:55px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:213px;
    height:61px;
}

.u53 {
    position:absolute;
    left:2px;
    top:20px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../更新记录_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:322px;
    top:440px;
    width:196px;
    height:55px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:202px;
    height:61px;
}

.u55 {
    position:absolute;
    left:2px;
    top:20px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../更新记录_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:518px;
    top:440px;
    width:89px;
    height:55px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:61px;
}

.u57 {
    position:absolute;
    left:2px;
    top:20px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

