body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:770px;
    top:489px;
    width:130px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../1_2详情页_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:10px;
    top:150px;
    width:680px;
    height:650px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:686px;
    height:656px;
}

.u2 {
    position:absolute;
    left:2px;
    top:317px;
    width:676px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../1_2详情页_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:710px;
    top:150px;
    width:290px;
    height:220px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:226px;
}

.u4 {
    position:absolute;
    left:2px;
    top:102px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../前台头部_files/u83_normal.png');
}

.u5_container {
    position:absolute;
    left:-270px;
    top:0px;
    width:1500px;
    height:50px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1506px;
    height:56px;
}

.u6 {
    position:absolute;
    left:2px;
    top:17px;
    width:1496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_mouseOver {
    background-image: url('../前台头部_files/u85_mouseOver.png');
}

.u7_normal {
    background-image: url('../前台头部_files/u85_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:56px;
}

.u8 {
    position:absolute;
    left:2px;
    top:17px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_disabled {
    background-image: url('../前台头部_files/button_u87_disabled.png');
}

.u9_normal {
    background-image: url('../前台头部_files/button_u87_normal.png');
}

.u9_container {
    position:absolute;
    left:900px;
    top:10px;
    width:100px;
    height:30px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u10 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:690px;
    top:18px;
    width:110px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../前台头部_files/u90_normal.png');
}

.u12_container {
    position:absolute;
    left:790px;
    top:22px;
    width:10px;
    height:5px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:11px;
}

.u13 {
    position:absolute;
    left:2px;
    top:-6px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:830px;
    top:18px;
    width:110px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_line {
    background-image: url('../前台头部_files/u93_line.png');
}

.u15_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u15 {
    position:absolute;
    left:810px;
    top:17px;
    width:10px;
    height:16px;
    
}

.u17 {
    position:absolute;
    left:10px;
    top:100px;
    width:990px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:730px;
    top:239px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:730px;
    top:160px;
    width:210px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../1_2详情页_files/placeholder_u20_normal.png');
}

.u20_container {
    position:absolute;
    left:20px;
    top:160px;
    width:600px;
    height:600px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:606px;
    height:606px;
}

.u21 {
    position:absolute;
    left:2px;
    top:292px;
    width:596px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:20px;
    top:773px;
    width:650px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../1_2详情页_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:626px;
    top:160px;
    width:54px;
    height:54px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:60px;
}

.u24 {
    position:absolute;
    left:2px;
    top:19px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../1_2详情页_files/placeholder_u25_normal.png');
}

.u25_container {
    position:absolute;
    left:628px;
    top:162px;
    width:50px;
    height:50px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u26 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../1_2详情页_files/placeholder_u25_normal.png');
}

.u27_container {
    position:absolute;
    left:629px;
    top:222px;
    width:50px;
    height:50px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u28 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../1_2详情页_files/placeholder_u25_normal.png');
}

.u29_container {
    position:absolute;
    left:629px;
    top:281px;
    width:50px;
    height:50px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u30 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../1_2详情页_files/placeholder_u25_normal.png');
}

.u31_container {
    position:absolute;
    left:629px;
    top:340px;
    width:50px;
    height:50px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u32 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../1_2详情页_files/placeholder_u25_normal.png');
}

.u33_container {
    position:absolute;
    left:629px;
    top:400px;
    width:50px;
    height:50px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u34 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../1_2详情页_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:710px;
    top:520px;
    width:290px;
    height:310px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:316px;
}

.u36 {
    position:absolute;
    left:2px;
    top:147px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:710px;
    top:423px;
    width:130px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:730px;
    top:530px;
    width:260px;
    height:312px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:710px;
    top:387px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../1_2详情页_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:766px;
    top:380px;
    width:20px;
    height:25px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:25px;
}

.u41 {
    position:absolute;
    left:2px;
    top:4px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../1_2详情页_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:797px;
    top:382px;
    width:24px;
    height:24px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../1_2详情页_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:825px;
    top:384px;
    width:24px;
    height:21px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:21px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../1_2详情页_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:856px;
    top:384px;
    width:23px;
    height:21px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:21px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../1_2详情页_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:893px;
    top:383px;
    width:22px;
    height:22px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:22px;
}

.u49 {
    position:absolute;
    left:2px;
    top:3px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u50 {
    position:absolute;
    left:730px;
    top:300px;
    width:268px;
    height:102px;
    overflow:hidden;
}

#pd1u50 {
    position:absolute;
    left:0px;
    top:0px;
    width:268px;
    height:102px;
    
}

.u51_disabled {
    background-image: url('../1_2详情页_files/button_u51_disabled.png');
}

.u51_normal {
    background-image: url('../1_2详情页_files/button_u51_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:30px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u52 {
    position:absolute;
    left:10px;
    top:6px;
    width:88px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:108px;
    top:8px;
    width:111px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../1_2详情页_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:44px;
    width:212px;
    height:24px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:218px;
    height:30px;
}

.u55 {
    position:absolute;
    left:2px;
    top:3px;
    width:208px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../1_2详情页_files/u54_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:74px;
    width:212px;
    height:24px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:218px;
    height:30px;
}

.u57 {
    position:absolute;
    left:2px;
    top:3px;
    width:208px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u50 {
    position:absolute;
    left:0px;
    top:0px;
    width:268px;
    height:102px;
    
}

.u58 {
    position:absolute;
    left:3px;
    top:39px;
    width:267px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:108px;
    top:8px;
    width:111px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_disabled {
    background-image: url('../1_2详情页_files/button_u51_disabled.png');
}

.u60_normal {
    background-image: url('../1_2详情页_files/button_u60_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:30px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u61 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../1_2详情页_files/placeholder_u62_normal.png');
}

.u62_container {
    position:absolute;
    left:10px;
    top:860px;
    width:200px;
    height:200px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:206px;
}

.u63 {
    position:absolute;
    left:2px;
    top:92px;
    width:196px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:11px;
    top:830px;
    width:292px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:10px;
    top:1070px;
    width:210px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:70px;
    top:1118px;
    width:80px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:10px;
    top:1122px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../1_2详情页_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:1020px;
    top:395px;
    width:30px;
    height:95px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:101px;
}

.u69 {
    position:absolute;
    left:2px;
    top:20px;
    width:26px;
    height:56px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:870px;
    top:453px;
    width:67px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:7px;
    top:66px;
    width:273px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_line {
    background-image: url('../1_2详情页_files/u72_line.png');
}

.u72_line {
    position:absolute;
    left:0px;
    top:4px;
    width:29px;
    height:3px;
}

.u72 {
    position:absolute;
    left:930px;
    top:454px;
    width:29px;
    height:10px;
    
}

.u73_normal {
    background-image: url('../1_2详情页_files/placeholder_u73_normal.png');
}

.u73_container {
    position:absolute;
    left:926px;
    top:456px;
    width:6px;
    height:6px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u74 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:972px;
    top:450px;
    width:308px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:730px;
    top:204px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:731px;
    top:270px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_line {
    background-image: url('../1_2详情页_files/u78_line.png');
}

.u78_line {
    position:absolute;
    left:0px;
    top:4px;
    width:29px;
    height:3px;
}

.u78 {
    position:absolute;
    left:1032px;
    top:297px;
    width:29px;
    height:10px;
    
}

.u79_normal {
    background-image: url('../1_2详情页_files/placeholder_u73_normal.png');
}

.u79_container {
    position:absolute;
    left:1028px;
    top:299px;
    width:6px;
    height:6px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u80 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:1074px;
    top:293px;
    width:386px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../1_2详情页_files/placeholder_u62_normal.png');
}

.u82_container {
    position:absolute;
    left:250px;
    top:860px;
    width:200px;
    height:200px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:206px;
}

.u83 {
    position:absolute;
    left:2px;
    top:92px;
    width:196px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../1_2详情页_files/placeholder_u62_normal.png');
}

.u84_container {
    position:absolute;
    left:490px;
    top:860px;
    width:200px;
    height:200px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:206px;
}

.u85 {
    position:absolute;
    left:2px;
    top:92px;
    width:196px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:250px;
    top:1070px;
    width:210px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:310px;
    top:1118px;
    width:80px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:250px;
    top:1122px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:490px;
    top:1070px;
    width:210px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:550px;
    top:1118px;
    width:80px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:490px;
    top:1122px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:10px;
    top:1170px;
    width:180px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../1_2详情页_files/placeholder_u62_normal.png');
}

.u93_container {
    position:absolute;
    left:10px;
    top:1200px;
    width:200px;
    height:200px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:206px;
}

.u94 {
    position:absolute;
    left:2px;
    top:92px;
    width:196px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:10px;
    top:1410px;
    width:210px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:70px;
    top:1458px;
    width:80px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:10px;
    top:1462px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../1_2详情页_files/placeholder_u62_normal.png');
}

.u98_container {
    position:absolute;
    left:250px;
    top:1200px;
    width:200px;
    height:200px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:206px;
}

.u99 {
    position:absolute;
    left:2px;
    top:92px;
    width:196px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../1_2详情页_files/placeholder_u62_normal.png');
}

.u100_container {
    position:absolute;
    left:490px;
    top:1200px;
    width:200px;
    height:200px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:206px;
}

.u101 {
    position:absolute;
    left:2px;
    top:92px;
    width:196px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:250px;
    top:1410px;
    width:210px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:310px;
    top:1458px;
    width:80px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:250px;
    top:1462px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:490px;
    top:1410px;
    width:210px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:550px;
    top:1458px;
    width:80px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:490px;
    top:1462px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:880px;
    top:489px;
    width:130px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../1_2详情页_files/placeholder_u25_normal.png');
}

.u109_container {
    position:absolute;
    left:710px;
    top:453px;
    width:50px;
    height:50px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u110 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:770px;
    top:453px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../1_2详情页_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:720px;
    top:510px;
    width:20px;
    height:10px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:16px;
}

.u113 {
    position:absolute;
    left:2px;
    top:-3px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_line {
    background-image: url('../1_2详情页_files/u114_line.png');
}

.u114_line {
    position:absolute;
    left:0px;
    top:4px;
    width:18px;
    height:3px;
}

.u114 {
    position:absolute;
    left:720px;
    top:515px;
    width:18px;
    height:10px;
    
}

.u115 {
    position:absolute;
    left:10px;
    top:1500px;
    width:140px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../1_2详情页_files/placeholder_u116_normal.png');
}

.u116_container {
    position:absolute;
    left:10px;
    top:1536px;
    width:80px;
    height:80px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u117 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../1_2详情页_files/placeholder_u116_normal.png');
}

.u118_container {
    position:absolute;
    left:101px;
    top:1536px;
    width:80px;
    height:80px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u119 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../1_2详情页_files/placeholder_u116_normal.png');
}

.u120_container {
    position:absolute;
    left:192px;
    top:1536px;
    width:80px;
    height:80px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u121 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../1_2详情页_files/placeholder_u116_normal.png');
}

.u122_container {
    position:absolute;
    left:283px;
    top:1536px;
    width:80px;
    height:80px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u123 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../1_2详情页_files/placeholder_u116_normal.png');
}

.u124_container {
    position:absolute;
    left:374px;
    top:1536px;
    width:80px;
    height:80px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u125 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../1_2详情页_files/placeholder_u116_normal.png');
}

.u126_container {
    position:absolute;
    left:465px;
    top:1536px;
    width:80px;
    height:80px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u127 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../1_2详情页_files/placeholder_u116_normal.png');
}

.u128_container {
    position:absolute;
    left:556px;
    top:1536px;
    width:80px;
    height:80px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u129 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u130 {
    position:absolute;
    left:409px;
    top:240px;
    width:422px;
    height:307px;
    overflow:hidden;
}

#pd1u130 {
    position:absolute;
    left:0px;
    top:0px;
    width:422px;
    height:307px;
    
}

.u131_normal {
    background-image: url('../1_2详情页_files/u131_normal.png');
}

.u131_container {
    position:absolute;
    left:4px;
    top:4px;
    width:417px;
    height:302px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:423px;
    height:308px;
}

.u132 {
    position:absolute;
    left:2px;
    top:143px;
    width:413px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../1_2详情页_files/u133_normal.png');
}

.u133_container {
    position:absolute;
    left:0px;
    top:0px;
    width:417px;
    height:302px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:423px;
    height:308px;
}

.u134 {
    position:absolute;
    left:2px;
    top:143px;
    width:413px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:189px;
    top:62px;
    width:140px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_mouseOver {
    background-image: url('../1_2详情页_files/button_u136_mouseOver.png');
}

.u136_disabled {
    background-image: url('../1_2详情页_files/button_u136_disabled.png');
}

.u136_normal {
    background-image: url('../1_2详情页_files/button_u136_normal.png');
}

.u136_container {
    position:absolute;
    left:188px;
    top:127px;
    width:50px;
    height:25px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u137 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:396px;
    top:8px;
    width:20px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../1_2详情页_files/placeholder_u25_normal.png');
}

.u139_container {
    position:absolute;
    left:121px;
    top:47px;
    width:50px;
    height:50px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u140 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u130 {
    position:absolute;
    left:0px;
    top:0px;
    width:422px;
    height:307px;
    
}

.u141_normal {
    background-image: url('../1_2详情页_files/u131_normal.png');
}

.u141_container {
    position:absolute;
    left:4px;
    top:4px;
    width:417px;
    height:302px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:423px;
    height:308px;
}

.u142 {
    position:absolute;
    left:2px;
    top:143px;
    width:413px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../1_2详情页_files/u133_normal.png');
}

.u143_container {
    position:absolute;
    left:0px;
    top:0px;
    width:417px;
    height:302px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:423px;
    height:308px;
}

.u144 {
    position:absolute;
    left:2px;
    top:143px;
    width:413px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:10px;
    top:10px;
    width:140px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:12px;
    top:38px;
    width:393px;
    height:212px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u147_mouseOver {
    background-image: url('../1_2详情页_files/button_u136_mouseOver.png');
}

.u147_disabled {
    background-image: url('../1_2详情页_files/button_u136_disabled.png');
}

.u147_normal {
    background-image: url('../1_2详情页_files/button_u136_normal.png');
}

.u147_container {
    position:absolute;
    left:355px;
    top:264px;
    width:50px;
    height:25px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u148 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:396px;
    top:10px;
    width:20px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_mouseOver {
    background-image: url('../1_2详情页_files/button_u150_mouseOver.png');
}

.u150_disabled {
    background-image: url('../1_2详情页_files/button_u136_disabled.png');
}

.u150_normal {
    background-image: url('../1_2详情页_files/button_u150_normal.png');
}

.u150_container {
    position:absolute;
    left:281px;
    top:264px;
    width:50px;
    height:25px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u151 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:22px;
    top:45px;
    width:305px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:296px;
    top:13px;
    width:114px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u154 {
    position:absolute;
    left:432px;
    top:318px;
    width:352px;
    height:206px;
    overflow:hidden;
}

#pd0u154 {
    position:absolute;
    left:0px;
    top:0px;
    width:352px;
    height:206px;
    
}

.u155_normal {
    background-image: url('../1_2详情页_files/u155_normal.png');
}

.u155_container {
    position:absolute;
    left:4px;
    top:4px;
    width:345px;
    height:142px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:148px;
}

.u156 {
    position:absolute;
    left:2px;
    top:63px;
    width:341px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../1_2详情页_files/u157_normal.png');
}

.u157_container {
    position:absolute;
    left:0px;
    top:0px;
    width:345px;
    height:142px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:148px;
}

.u158 {
    position:absolute;
    left:2px;
    top:63px;
    width:341px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:55px;
    top:36px;
    width:295px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:330px;
    top:8px;
    width:19px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:55px;
    top:70px;
    width:216px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../1_2详情页_files/placeholder_u162_normal.png');
}

.u162_container {
    position:absolute;
    left:13px;
    top:37px;
    width:30px;
    height:30px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u163 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:56px;
    top:97px;
    width:216px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_line {
    background-image: url('../1_2详情页_files/u165_line.png');
}

.u165_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u165 {
    position:absolute;
    left:860px;
    top:488px;
    width:10px;
    height:16px;
    
}

.u166 {
    position:absolute;
    left:710px;
    top:857px;
    width:190px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../1_2详情页_files/u167_normal.png');
}

.u167_container {
    position:absolute;
    left:710px;
    top:886px;
    width:290px;
    height:90px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:96px;
}

.u168 {
    position:absolute;
    left:2px;
    top:38px;
    width:286px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:710px;
    top:1020px;
    width:190px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../1_2详情页_files/u167_normal.png');
}

.u170_container {
    position:absolute;
    left:710px;
    top:1049px;
    width:290px;
    height:90px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:96px;
}

.u171 {
    position:absolute;
    left:2px;
    top:37px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_line {
    background-image: url('../1_2详情页_files/u172_line.png');
}

.u172_line {
    position:absolute;
    left:0px;
    top:4px;
    width:29px;
    height:3px;
}

.u172 {
    position:absolute;
    left:954px;
    top:904px;
    width:29px;
    height:10px;
    
}

.u173_normal {
    background-image: url('../1_2详情页_files/placeholder_u73_normal.png');
}

.u173_container {
    position:absolute;
    left:950px;
    top:906px;
    width:6px;
    height:6px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u174 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:996px;
    top:900px;
    width:308px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:710px;
    top:1050px;
    width:290px;
    height:90px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u177 {
    position:absolute;
    left:917px;
    top:1030px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_mouseOver {
    background-image: url('../1_2详情页_files/button_u178_mouseOver.png');
}

.u178_disabled {
    background-image: url('../1_2详情页_files/button_u178_disabled.png');
}

.u178_normal {
    background-image: url('../1_2详情页_files/button_u178_normal.png');
}

.u178_container {
    position:absolute;
    left:930px;
    top:1140px;
    width:70px;
    height:25px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:31px;
}

.u179 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180_normal {
    background-image: url('../1_2详情页_files/u180_normal.png');
}

.u180_container {
    position:absolute;
    left:710px;
    top:1230px;
    width:290px;
    height:170px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:176px;
}

.u181 {
    position:absolute;
    left:2px;
    top:77px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:770px;
    top:1241px;
    width:210px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:820px;
    top:1366px;
    width:70px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184_line {
    background-image: url('../1_2详情页_files/u184_line.png');
}

.u184_line {
    position:absolute;
    left:0px;
    top:4px;
    width:270px;
    height:3px;
}

.u184 {
    position:absolute;
    left:720px;
    top:1280px;
    width:270px;
    height:10px;
    
}

.u185 {
    position:absolute;
    left:720px;
    top:1304px;
    width:100px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:780px;
    top:1300px;
    width:140px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:856px;
    top:1300px;
    width:70px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:720px;
    top:1246px;
    width:100px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:770px;
    top:1366px;
    width:140px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190_line {
    background-image: url('../1_2详情页_files/u190_line.png');
}

.u190_line {
    position:absolute;
    left:0px;
    top:4px;
    width:270px;
    height:3px;
}

.u190 {
    position:absolute;
    left:720px;
    top:1340px;
    width:270px;
    height:10px;
    
}

.u191 {
    position:absolute;
    left:970px;
    top:1369px;
    width:40px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u192 {
    position:absolute;
    left:920px;
    top:1369px;
    width:41px;
    height:15px;
    overflow:hidden;
}

#pd0u192 {
    position:absolute;
    left:0px;
    top:0px;
    width:41px;
    height:15px;
    
}

.u193 {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../1_2详情页_files/u194_normal.png');
}

.u194_container {
    position:absolute;
    left:1030px;
    top:1260px;
    width:290px;
    height:210px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:216px;
}

.u195 {
    position:absolute;
    left:2px;
    top:97px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:1040px;
    top:1270px;
    width:260px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:1040px;
    top:1290px;
    width:70px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:1040px;
    top:1447px;
    width:100px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:1124px;
    top:1443px;
    width:140px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:1200px;
    top:1443px;
    width:70px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201_line {
    background-image: url('../1_2详情页_files/u201_line.png');
}

.u201_line {
    position:absolute;
    left:0px;
    top:4px;
    width:270px;
    height:3px;
}

.u201 {
    position:absolute;
    left:1040px;
    top:1430px;
    width:270px;
    height:10px;
    
}

.u202_line {
    background-image: url('../1_2详情页_files/u202_line.png');
}

.u202_line {
    position:absolute;
    left:0px;
    top:4px;
    width:29px;
    height:3px;
}

.u202 {
    position:absolute;
    left:1000px;
    top:1267px;
    width:29px;
    height:10px;
    
}

.u203_normal {
    background-image: url('../1_2详情页_files/placeholder_u73_normal.png');
}

.u203_container {
    position:absolute;
    left:996px;
    top:1269px;
    width:6px;
    height:6px;
}

#u203_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u204 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205 {
    position:absolute;
    left:1000px;
    top:1250px;
    width:48px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_normal {
    background-image: url('../1_2详情页_files/u206_normal.png');
}

.u206_container {
    position:absolute;
    left:1040px;
    top:1320px;
    width:270px;
    height:100px;
}

#u206_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:106px;
}

.u207 {
    position:absolute;
    left:2px;
    top:42px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../1_2详情页_files/u208_normal.png');
}

.u208_container {
    position:absolute;
    left:1260px;
    top:1295px;
    width:50px;
    height:25px;
}

#u208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u209 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210 {
    position:absolute;
    left:1276px;
    top:1301px;
    width:40px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211_line {
    background-image: url('../1_2详情页_files/u211_line.png');
}

.u211_line {
    position:absolute;
    left:0px;
    top:4px;
    width:48px;
    height:3px;
}

.u211 {
    position:absolute;
    left:1261px;
    top:1315px;
    width:48px;
    height:10px;
    
}

.u212 {
    position:absolute;
    left:1050px;
    top:1330px;
    width:250px;
    height:60px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u213_mouseOver {
    background-image: url('../1_2详情页_files/button_u213_mouseOver.png');
}

.u213_disabled {
    background-image: url('../1_2详情页_files/button_u213_disabled.png');
}

.u213_normal {
    background-image: url('../1_2详情页_files/button_u213_normal.png');
}

.u213_container {
    position:absolute;
    left:1250px;
    top:1390px;
    width:50px;
    height:25px;
}

#u213_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u214 {
    position:absolute;
    left:2px;
    top:6px;
    width:46px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u215 {
    position:absolute;
    left:1060px;
    top:1110px;
    width:290px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u216_line {
    background-image: url('../1_2详情页_files/u216_line.png');
}

.u216_line {
    position:absolute;
    left:0px;
    top:4px;
    width:29px;
    height:3px;
}

.u216 {
    position:absolute;
    left:1284px;
    top:1357px;
    width:29px;
    height:10px;
    
}

.u217_normal {
    background-image: url('../1_2详情页_files/placeholder_u73_normal.png');
}

.u217_container {
    position:absolute;
    left:1280px;
    top:1359px;
    width:6px;
    height:6px;
}

#u217_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u218 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219 {
    position:absolute;
    left:1320px;
    top:1350px;
    width:200px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220 {
    position:absolute;
    left:940px;
    top:1241px;
    width:70px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221_normal {
    background-image: url('../1_2详情页_files/placeholder_u73_normal.png');
}

.u221_container {
    position:absolute;
    left:862px;
    top:1232px;
    width:6px;
    height:6px;
}

#u221_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u222 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223 {
    position:absolute;
    left:700px;
    top:1170px;
    width:468px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224_line {
    background-image: url('../1_2详情页_files/u224_line.png');
}

.u224_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:24px;
}

.u224 {
    position:absolute;
    left:860px;
    top:1210px;
    width:10px;
    height:24px;
    
}

.u225 {
    position:absolute;
    left:720px;
    top:1370px;
    width:100px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226 {
    position:absolute;
    left:970px;
    top:1326px;
    width:40px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u227 {
    position:absolute;
    left:970px;
    top:1266px;
    width:40px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u228 {
    position:absolute;
    left:920px;
    top:1265px;
    width:41px;
    height:15px;
    overflow:hidden;
}

#pd0u228 {
    position:absolute;
    left:0px;
    top:0px;
    width:41px;
    height:15px;
    
}

.u229 {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230_normal {
    background-image: url('../1_2详情页_files/u180_normal.png');
}

.u230_container {
    position:absolute;
    left:710px;
    top:1420px;
    width:290px;
    height:170px;
}

#u230_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:176px;
}

.u231 {
    position:absolute;
    left:2px;
    top:77px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u232 {
    position:absolute;
    left:770px;
    top:1431px;
    width:210px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233 {
    position:absolute;
    left:820px;
    top:1556px;
    width:70px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234_line {
    background-image: url('../1_2详情页_files/u234_line.png');
}

.u234_line {
    position:absolute;
    left:0px;
    top:4px;
    width:270px;
    height:3px;
}

.u234 {
    position:absolute;
    left:720px;
    top:1470px;
    width:270px;
    height:10px;
    
}

.u235 {
    position:absolute;
    left:720px;
    top:1494px;
    width:100px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236 {
    position:absolute;
    left:780px;
    top:1490px;
    width:140px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u237 {
    position:absolute;
    left:856px;
    top:1490px;
    width:70px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238 {
    position:absolute;
    left:720px;
    top:1436px;
    width:100px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u239 {
    position:absolute;
    left:770px;
    top:1556px;
    width:140px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240_line {
    background-image: url('../1_2详情页_files/u240_line.png');
}

.u240_line {
    position:absolute;
    left:0px;
    top:4px;
    width:270px;
    height:3px;
}

.u240 {
    position:absolute;
    left:720px;
    top:1530px;
    width:270px;
    height:10px;
    
}

.u241 {
    position:absolute;
    left:940px;
    top:1431px;
    width:70px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242 {
    position:absolute;
    left:720px;
    top:1561px;
    width:100px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

