body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../详情页_已售完__files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:150px;
    width:680px;
    height:650px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:686px;
    height:656px;
}

.u1 {
    position:absolute;
    left:2px;
    top:317px;
    width:676px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:150px;
    width:680px;
    height:650px
}

.u2_original {
    background-image: url('../详情页_已售完__files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:20px;
    top:160px;
    width:600px;
    height:600px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:606px;
    height:606px;
}

.u3 {
    position:absolute;
    left:2px;
    top:292px;
    width:596px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:20px;
    top:160px;
    width:600px;
    height:600px
}

.u4 {
    position:absolute;
    left:20px;
    top:773px;
    width:650px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_original {
    background-image: url('../详情页_已售完__files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:626px;
    top:160px;
    width:54px;
    height:54px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:60px;
}

.u6 {
    position:absolute;
    left:2px;
    top:19px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:626px;
    top:160px;
    width:54px;
    height:54px
}

.u7_original {
    background-image: url('../详情页_已售完__files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:628px;
    top:162px;
    width:50px;
    height:50px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u8 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:628px;
    top:162px;
    width:50px;
    height:50px
}

.u9_original {
    background-image: url('../详情页_已售完__files/u7_original.png');
}

.u9_container {
    position:absolute;
    left:629px;
    top:222px;
    width:50px;
    height:50px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u10 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:629px;
    top:222px;
    width:50px;
    height:50px
}

.u11_original {
    background-image: url('../详情页_已售完__files/u7_original.png');
}

.u11_container {
    position:absolute;
    left:629px;
    top:281px;
    width:50px;
    height:50px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u12 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:629px;
    top:281px;
    width:50px;
    height:50px
}

.u13_original {
    background-image: url('../详情页_已售完__files/u7_original.png');
}

.u13_container {
    position:absolute;
    left:629px;
    top:340px;
    width:50px;
    height:50px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u14 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:629px;
    top:340px;
    width:50px;
    height:50px
}

.u15_original {
    background-image: url('../详情页_已售完__files/u7_original.png');
}

.u15_container {
    position:absolute;
    left:629px;
    top:400px;
    width:50px;
    height:50px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u16 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:629px;
    top:400px;
    width:50px;
    height:50px
}

.u17_original {
    background-image: url('../前台头部_files/u127_original.png');
}

.u17_container {
    position:absolute;
    left:-270px;
    top:0px;
    width:1500px;
    height:50px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1506px;
    height:56px;
}

.u18 {
    position:absolute;
    left:2px;
    top:17px;
    width:1496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:-270px;
    top:0px;
    width:1500px;
    height:50px
}

.u19_hover {
    background-image: url('../前台头部_files/u129_hover.png');
}

.u19_original {
    background-image: url('../前台头部_files/u129_original.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:56px;
}

.u20 {
    position:absolute;
    left:2px;
    top:17px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px
}

.u21_disabled {
    background-image: url('../前台头部_files/u131_disabled.png');
}

.u21_original {
    background-image: url('../前台头部_files/u131_original.png');
}

.u21_container {
    position:absolute;
    left:900px;
    top:10px;
    width:100px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u22 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:900px;
    top:10px;
    width:100px;
    height:30px
}

.u23 {
    position:absolute;
    left:690px;
    top:18px;
    width:110px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_original {
    background-image: url('../前台头部_files/u134_original.png');
}

.u24_container {
    position:absolute;
    left:790px;
    top:22px;
    width:10px;
    height:5px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:11px;
}

.u25 {
    position:absolute;
    left:2px;
    top:-6px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:790px;
    top:22px;
    width:10px;
    height:5px
}

.u26 {
    position:absolute;
    left:830px;
    top:18px;
    width:110px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../前台头部_files/u137_line.png');
}

.u27_line {
    position:absolute;
    left:814px;
    top:17px;
    width:3px;
    height:16px;
}

.u27 {
    position:absolute;
    left:814px;
    top:17px;
    width:3px;
    height:16px
}

.u29 {
    position:absolute;
    left:10px;
    top:90px;
    width:990px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_original {
    background-image: url('../详情页_已售完__files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:2060px;
    width:1010px;
    height:120px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1016px;
    height:126px;
}

.u31 {
    position:absolute;
    left:2px;
    top:52px;
    width:1006px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:0px;
    top:2060px;
    width:1010px;
    height:120px
}

.u32_original {
    background-image: url('../详情页_已售完__files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:1288px;
    width:1000px;
    height:92px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:98px;
}

.u33 {
    position:absolute;
    left:2px;
    top:38px;
    width:996px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:0px;
    top:1288px;
    width:1000px;
    height:92px
}

.u34_original {
    background-image: url('../详情页_已售完__files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:10px;
    top:878px;
    width:120px;
    height:120px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:126px;
}

.u35 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:10px;
    top:878px;
    width:120px;
    height:120px
}

.u36 {
    position:absolute;
    left:11px;
    top:840px;
    width:292px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:10px;
    top:1003px;
    width:138px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:70px;
    top:1048px;
    width:80px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:10px;
    top:1052px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_original {
    background-image: url('../详情页_已售完__files/u34_original.png');
}

.u40_container {
    position:absolute;
    left:170px;
    top:879px;
    width:120px;
    height:120px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:126px;
}

.u41 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:170px;
    top:879px;
    width:120px;
    height:120px
}

.u42 {
    position:absolute;
    left:170px;
    top:1004px;
    width:138px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:230px;
    top:1049px;
    width:80px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:170px;
    top:1053px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_original {
    background-image: url('../详情页_已售完__files/u34_original.png');
}

.u45_container {
    position:absolute;
    left:332px;
    top:880px;
    width:120px;
    height:120px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:126px;
}

.u46 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:332px;
    top:880px;
    width:120px;
    height:120px
}

.u47 {
    position:absolute;
    left:332px;
    top:1005px;
    width:138px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:392px;
    top:1050px;
    width:80px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:332px;
    top:1054px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_original {
    background-image: url('../详情页_已售完__files/u50_original.png');
}

.u50_container {
    position:absolute;
    left:1020px;
    top:236px;
    width:30px;
    height:95px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:101px;
}

.u51 {
    position:absolute;
    left:2px;
    top:20px;
    width:26px;
    height:56px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:1020px;
    top:236px;
    width:30px;
    height:95px
}

.u52_text {
    position:absolute;
    left:7px;
    top:66px;
    width:473px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:7px;
    top:66px;
    width:473px;
    height:20px
}

.u53_original {
    background-image: url('../详情页_已售完__files/u53_original.png');
}

.u53_container {
    position:absolute;
    left:710px;
    top:150px;
    width:290px;
    height:260px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:266px;
}

.u54 {
    position:absolute;
    left:2px;
    top:122px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:710px;
    top:150px;
    width:290px;
    height:260px
}

.u55 {
    position:absolute;
    left:730px;
    top:239px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:730px;
    top:160px;
    width:210px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:730px;
    top:265px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_original {
    background-image: url('../详情页_已售完__files/u58_original.png');
}

.u58_container {
    position:absolute;
    left:710px;
    top:490px;
    width:290px;
    height:340px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:346px;
}

.u59 {
    position:absolute;
    left:2px;
    top:162px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:710px;
    top:490px;
    width:290px;
    height:340px
}

.u60 {
    position:absolute;
    left:710px;
    top:464px;
    width:130px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:730px;
    top:500px;
    width:260px;
    height:312px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:710px;
    top:415px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_original {
    background-image: url('../详情页_已售完__files/u63_original.png');
}

.u63_container {
    position:absolute;
    left:766px;
    top:408px;
    width:20px;
    height:25px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:25px;
}

.u64 {
    position:absolute;
    left:2px;
    top:4px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:766px;
    top:408px;
    width:20px;
    height:25px
}

.u65_original {
    background-image: url('../详情页_已售完__files/u65_original.png');
}

.u65_container {
    position:absolute;
    left:797px;
    top:410px;
    width:24px;
    height:24px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u66 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:797px;
    top:410px;
    width:24px;
    height:24px
}

.u67_original {
    background-image: url('../详情页_已售完__files/u67_original.png');
}

.u67_container {
    position:absolute;
    left:825px;
    top:412px;
    width:24px;
    height:21px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:21px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:825px;
    top:412px;
    width:24px;
    height:21px
}

.u69_original {
    background-image: url('../详情页_已售完__files/u69_original.png');
}

.u69_container {
    position:absolute;
    left:856px;
    top:412px;
    width:23px;
    height:21px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:21px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:856px;
    top:412px;
    width:23px;
    height:21px
}

.u71_original {
    background-image: url('../详情页_已售完__files/u71_original.png');
}

.u71_container {
    position:absolute;
    left:893px;
    top:411px;
    width:22px;
    height:22px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:22px;
}

.u72 {
    position:absolute;
    left:2px;
    top:3px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:893px;
    top:411px;
    width:22px;
    height:22px
}

.u74_disabled {
    background-image: url('../详情页_已售完__files/u74_disabled.png');
}

.u74_original {
    background-image: url('../详情页_已售完__files/u74_original.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:30px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u75 {
    position:absolute;
    left:10px;
    top:6px;
    width:88px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:30px
}

.u76 {
    position:absolute;
    left:108px;
    top:8px;
    width:111px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_original {
    background-image: url('../详情页_已售完__files/u77_original.png');
}

.u77_container {
    position:absolute;
    left:0px;
    top:46px;
    width:212px;
    height:24px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:218px;
    height:30px;
}

.u78 {
    position:absolute;
    left:2px;
    top:3px;
    width:208px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:0px;
    top:46px;
    width:212px;
    height:24px
}

.u79 {
    position:absolute;
    left:108px;
    top:8px;
    width:111px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_disabled {
    background-image: url('../详情页_已售完__files/u74_disabled.png');
}

.u80_original {
    background-image: url('../详情页_已售完__files/u80_original.png');
}

.u80_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:30px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u81 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:30px
}

.u82_original {
    background-image: url('../详情页_已售完__files/u50_original.png');
}

.u82_container {
    position:absolute;
    left:1020px;
    top:395px;
    width:30px;
    height:95px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:101px;
}

.u83 {
    position:absolute;
    left:2px;
    top:20px;
    width:26px;
    height:56px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:1020px;
    top:395px;
    width:30px;
    height:95px
}

.u84_text {
    position:absolute;
    left:860px;
    top:263px;
    width:67px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:860px;
    top:263px;
    width:67px;
    height:20px
}

.u86_original {
    background-image: url('../详情页_已售完__files/u86_original.png');
}

.u86_container {
    position:absolute;
    left:4px;
    top:4px;
    width:417px;
    height:302px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:423px;
    height:308px;
}

.u87 {
    position:absolute;
    left:2px;
    top:143px;
    width:413px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:4px;
    top:4px;
    width:417px;
    height:302px
}

.u88_original {
    background-image: url('../详情页_已售完__files/u88_original.png');
}

.u88_container {
    position:absolute;
    left:0px;
    top:0px;
    width:417px;
    height:302px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:423px;
    height:308px;
}

.u89 {
    position:absolute;
    left:2px;
    top:143px;
    width:413px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:0px;
    top:0px;
    width:417px;
    height:302px
}

.u90 {
    position:absolute;
    left:189px;
    top:62px;
    width:140px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_hover {
    background-image: url('../详情页_已售完__files/u91_hover.png');
}

.u91_disabled {
    background-image: url('../详情页_已售完__files/u91_disabled.png');
}

.u91_original {
    background-image: url('../详情页_已售完__files/u91_original.png');
}

.u91_container {
    position:absolute;
    left:188px;
    top:127px;
    width:50px;
    height:25px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u92 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:188px;
    top:127px;
    width:50px;
    height:25px
}

.u93_text {
    position:absolute;
    left:396px;
    top:8px;
    width:20px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:396px;
    top:8px;
    width:20px;
    height:20px
}

.u94_original {
    background-image: url('../详情页_已售完__files/u7_original.png');
}

.u94_container {
    position:absolute;
    left:121px;
    top:47px;
    width:50px;
    height:50px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u95 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:121px;
    top:47px;
    width:50px;
    height:50px
}

.u96_original {
    background-image: url('../详情页_已售完__files/u86_original.png');
}

.u96_container {
    position:absolute;
    left:4px;
    top:4px;
    width:417px;
    height:302px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:423px;
    height:308px;
}

.u97 {
    position:absolute;
    left:2px;
    top:143px;
    width:413px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:4px;
    top:4px;
    width:417px;
    height:302px
}

.u98_original {
    background-image: url('../详情页_已售完__files/u88_original.png');
}

.u98_container {
    position:absolute;
    left:0px;
    top:0px;
    width:417px;
    height:302px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:423px;
    height:308px;
}

.u99 {
    position:absolute;
    left:2px;
    top:143px;
    width:413px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:0px;
    top:0px;
    width:417px;
    height:302px
}

.u100 {
    position:absolute;
    left:10px;
    top:10px;
    width:140px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:12px;
    top:38px;
    width:393px;
    height:212px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u102_hover {
    background-image: url('../详情页_已售完__files/u91_hover.png');
}

.u102_disabled {
    background-image: url('../详情页_已售完__files/u91_disabled.png');
}

.u102_original {
    background-image: url('../详情页_已售完__files/u91_original.png');
}

.u102_container {
    position:absolute;
    left:355px;
    top:264px;
    width:50px;
    height:25px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u103 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:355px;
    top:264px;
    width:50px;
    height:25px
}

.u104_text {
    position:absolute;
    left:396px;
    top:10px;
    width:20px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:396px;
    top:10px;
    width:20px;
    height:20px
}

.u105_hover {
    background-image: url('../详情页_已售完__files/u105_hover.png');
}

.u105_disabled {
    background-image: url('../详情页_已售完__files/u91_disabled.png');
}

.u105_original {
    background-image: url('../详情页_已售完__files/u105_original.png');
}

.u105_container {
    position:absolute;
    left:281px;
    top:264px;
    width:50px;
    height:25px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u106 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:281px;
    top:264px;
    width:50px;
    height:25px
}

.u107 {
    position:absolute;
    left:22px;
    top:45px;
    width:305px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:296px;
    top:13px;
    width:114px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_line {
    background-image: url('../详情页_已售完__files/u109_line.png');
}

.u109_line {
    position:absolute;
    left:914px;
    top:268px;
    width:29px;
    height:3px;
}

.u109 {
    position:absolute;
    left:914px;
    top:268px;
    width:29px;
    height:3px
}

.u110_original {
    background-image: url('../详情页_已售完__files/u110_original.png');
}

.u110_container {
    position:absolute;
    left:910px;
    top:266px;
    width:6px;
    height:6px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u111 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:910px;
    top:266px;
    width:6px;
    height:6px
}

.u112 {
    position:absolute;
    left:956px;
    top:260px;
    width:308px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:730px;
    top:204px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:731px;
    top:295px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_line {
    background-image: url('../详情页_已售完__files/u115_line.png');
}

.u115_line {
    position:absolute;
    left:862px;
    top:301px;
    width:29px;
    height:3px;
}

.u115 {
    position:absolute;
    left:862px;
    top:301px;
    width:29px;
    height:3px
}

.u116_original {
    background-image: url('../详情页_已售完__files/u110_original.png');
}

.u116_container {
    position:absolute;
    left:858px;
    top:299px;
    width:6px;
    height:6px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u117 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:858px;
    top:299px;
    width:6px;
    height:6px
}

.u118 {
    position:absolute;
    left:904px;
    top:293px;
    width:386px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

